<section class="category abilities" data-category="abilities">
  {{!-- Abilities --}}
  {{> "systems/mage-fr/templates/actor/parts/cat-banner.hbs" paraData = paraData category="abilities" lock = locks.abilities}}

</section>