<section class="category equipables" data-category="equipables">
  {{!-- gear --}}
  {{> "systems/mage-fr/templates/actor/parts/cat-banner.hbs" category="equipables" lock = locks.equipables addButton = true}}
  <div class="grid two-col">
    <div>bla</div>
    <div>blu</div>
  </div>
  <div class="grid two-col">
    <div>bla</div>
    <div>blu</div>
  </div>
</section>