<section class="category miscgear" data-category="miscgear">
  {{!-- gear --}}
  {{> "systems/mage-fr/templates/actor/parts/cat-banner.hbs" category="miscgear" lock = locks.miscgear addButton =
  false}}
  <div class="grid two-col">
    <div class= "field">
      <label class="column-header">{{localize "M20E.labels.carriedStuff"}}</label>
<textarea class= "misc-stuff" name="data.carriedStuff" {{#if locks.miscgear}}readonly{{/if}}>{{data.carriedStuff}}</textarea>
    </div>
    <div class= "field">
      <label class="column-header">{{localize "M20E.labels.possessedStuff"}}</label>
<textarea class= "misc-stuff" name="data.possessedStuff" {{#if locks.miscgear}}readonly{{/if}}>{{data.possessedStuff}}</textarea>
    </div>
  </div>
</section>