<nav class="sheet-tabs tabs" data-group="primary">
    <a data-tab="detail"><label>{{localize "M20E.navtabs.detail"}}</label></a>
    <a data-tab="description"><label>{{localize "M20E.navtabs.description"}}</label></a>
</nav>