<div class="m20e dice-roll">
    <div class="dice-result">
        {{{tooltip}}}
        <h4 class="dice-total {{totalExtras.class}}">
            {{totalExtras.label}}
        </h4>
    </div>
</div>
