//Bullets
.bullet-display{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  border-color:  var(--m20e-darkGrey);
  
  .bullet {
    height: 14px;
    width: 11px;
    border: 2px;
    border-style: solid;
    border-color: inherit;
    background: transparent;
    display: inline-block;
    border-radius: 50%;
    margin-right: 2px;
  }
  .bullet[data-clickable='true']{
    cursor: pointer; 
  }
  .bullet[data-state='active']{
    background: var(--m20e-midGrey); 
  }
  .bullet[data-state='upgraded']{
    background: var(--m20e-lightGrey);
  }
  .bullet[data-state='downgraded']{
    background-image: url('../assets/ui/bullet-strike.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .bullet[data-overflow='true']{
    border-top: 3px solid var(--highlightColor);
    border-bottom: 3px solid var(--highlightColor);
  }
}
.bullet-display[data-locked='false']{
  display: none;
}