.m20e.dialog{

  .title-line{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 20px;
    .pre-line{
      flex: 0 0 5%;
      height: 1em;
      margin: 0 2px 2px;
      border-bottom: 1px solid var(--titleColor);
    }
    label{
      margin: 0 3px 0 3px;
      align-self: center;
    }
    .post-line{
      flex: 1 1;
      height: 1em;
      margin: 0 2px 2px;
      border-bottom: 1px solid var(--titleColor);
    }
    .mini-button{
      align-self: flex-end;
    }
    .tooltip{
      .righttooltiptext {
        text-align: left;
        font-size: 12px;
        line-height: 18px;
        margin: -5px 0px 0px 10px; 
      }
      .righttooltiptext::after {
        content: " ";
        position: absolute;
        top: 20%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent var(--m20e-darkGrey) transparent transparent;
      }
    }
  }
  .flavor{
      margin-bottom: 6px;
      padding: 0 5px;
      white-space: pre-warp;
  }
  .dialog-block{
      width: 100%;
      margin: 0;
      padding: 3px 5px;
      //border-bottom: 1px solid var(--titleColor);
  }
  .dialog-block.success{
    #inverted{
      transform:rotateY(180deg);
    }
  }

  .dialog-block.dice-pool{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;
      font-family: var(--titleFontFam);
      font-size: var(--catFontSize);
      color: var(--m20e-midGrey);
      font-weight: bold;
      text-align: center;

      label{
        background: rgba(0, 0, 0, 0.05);
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(245, 242, 217, 0.8);
        height: 23px;
        border-radius: 3px;
        width: 100%;
        flex-grow: 1;
        margin:5px 5px;
      }
      label.icon{
        font-weight:normal;
        font-size:  var(--navFontSize);
        padding-top: 3px;
        text-shadow: none;
      }
      label.total{
        color: var(--m20e-darkGrey);
        border: 1px solid var(--m20e-darkGrey);
      }
      .number-spinner {
        height: 23px;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        width: 100%;
        flex-grow: 1;
        margin:5px 1px;
        .double-button{
          top: 2px;
        }
        .tooltip{
          margin-left: 2px;
          width: fit-content;
          width: -moz-fit-content;
          .righttooltiptext{
            label{
              font-family: var(--mainFontFam);
              font-size: var(--mainFontSize);
              text-shadow: none;
            }
          }
        }
        label {
          background: none;
          margin: none;
        }
      }
      input{
          height:32px;
          width:40px;
          margin: 0 0 0 0;
          font-family: var(--titleFontFam);
          font-weight: bold;
          font-size: var(--itemNameFontSize);
          text-align: center;
      }
  }

  .radio-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: var(--catFontSize);

    div{
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      position:relative;

      input{
        display:none;
      }
      label{
        width: 100%;
        flex-grow: 1;
        margin:5px 1px;
        color: var(--m20e-midGrey);
        background: rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 3px;
        cursor:pointer;
        span{
          color: var(--m20e-goodGreen);
          position: absolute;
          left: 13px;
          top: -6px;
        }
        span[data-cue='vulgar']{
          color: var(--m20e-neutralOrange);
        }
        span[data-cue='vulgarWitness']{
          color: var(--m20e-badRed);
        }
      }
      label:hover{
        color: var(--m20e-darkGrey);
        text-shadow: 0 0 1px var(--hoverColor);
      }
      input[type="radio"]:checked+label{
        color: var(--highlightColor); 
        background:  rgba(0, 0, 0, 0.05);
        border-color: var(--m20e-lightGrey);
      }
    }
  }
  .radio-group.dice{
    font-family: var(--titleFontFam);
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(245, 242, 217, 0.8);
    font-size: var(--catFontSize);
  }

  .mini-button.paradoxEffect{
    height : 32px;
    font-weight: bold;
    font-size: var(--catFontSize);
    margin: 10px 6px 5px 6px; 
  }
  .dialog-block.throwSettings{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .throw-mode{
      margin:0 0 0 0;
      position:relative;
      display: inline-flex;
      flex-direction: column;
      .mini-button{
        font-family: var(--titleFontFam);
        font-size: var(--catFontSize);
        color: var(--m20e-lightGrey);
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(245, 242, 217, 0.8);
        font-weight: bold;
        text-align: center;
        height: 22px;
        width: 36px;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        padding-top: 1px;
      }
      .mini-button[data-state='1']{
        color: var(--m20e-darkGrey);
      }
      .mini-button[data-state='2']{
        color: var(--m20e-badRed);
      }
      .mini-button[data-state='3']{
        color: var(--m20e-goodGreen);
      }
      .mini-button:hover {
        color: var(--m20e-darkGrey);
        box-shadow: 0 0 2px 1px var(--hoverColor);
      }
      .mini-button[data-active='true']{
        color: var(--highlightColor);
      }
    }
    .mini-button.throw-dice{
      display: inline-flex;
      justify-content:space-evenly;
      height : 30px;
      width: 66%;
      top: 10px;
      position:relative;
      font-family: "Diablo";
      font-weight: bold;
      font-size: 18px;
    }
  }
  .disabledInput{
    border: none;
    color: #4b4a44;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 1px 3px;
    flex: 0 0;
    font-weight: normal;
    line-height: 26px;
  }

}