
/************
** Fonts **
*************/
@font-face {
  font-family: "Diablo";
  src: url("../assets/fonts/Diablo-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Diablo";
  src: url("../assets/fonts/Diablo-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/************
** Colors **
*************/

@main-red: #610d11;
@main-green : #18520b;
@dark-grey: #191813;
@mid-grey: #4b4a44;
@light-grey: #7a7971;

/************
** Imports **
*************/
@import "./sheets.less";
@import "./categories.less";
@import "./bullets.less";
@import "./buttons.less";
@import "./resources.less";
@import "./stats.less";


.systemDescription{  
  padding: 0px 2px;
  line-height: 14px;
  font-size: 12px;
  .descHeader{
    margin: 5px 0px 10px;
    text-align: justify;
  }
  .descFooter{
    margin: 10px 0px 5px;
  }
  .level-description{
    margin: 5px 0px;
    .bullets{
        font-size: 14px;
        font-weight: bold;
        float: left;
        width: 53px;
    }
    .level{
        float: left;
        font-weight: bold;
        padding-right: 3px;
    }
  }
}

.m20e {

  .hidden-field {
    display: none;
  }

  .grid {
    display: grid;
    column-gap: 10px;
    row-gap: 0px;
    align-content: start;
    padding: 0;
    
    .column-header {
      margin: 3px 0;
      text-align: center;
    }
  }

  .one-col {
    grid-column: span 1;
    grid-template-columns: auto;
  }

  .two-col {
    grid-column: span 2 / span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .three-col {
    grid-column: span 3 / span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
