
/* Fonts */
@font-face {
  font-family: "Diablo";
  src: url("../assets/fonts/Diablo-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Diablo";
  src: url("../assets/fonts/Diablo-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/************
** Imports **
*************/
//TODO : Lot of cleaning and tidying !!!
@import "./general.less";
