@font-face {
  font-family: "Tech";
  //src: url("../assets/fonts/AbbessRegular.woff") format("woff");
  src: url("../assets/fonts/mars-police.regular.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Abbess";
  //src: url("../assets/fonts/AbbessRegular.woff") format("woff");
  src: url("../assets/fonts/AbbessRegular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.mage{


  --titleColor: #4c39ae; // var(--titleColor);
  --highlightColor: #4c39ae; // var(--highlightColor);
  --hoverColor: #4c39ae; // var(--hoverColor);
  --titleFontFam: "Abbess"; // var(--titleFontFam);
  --charNameFontSize : 20px; // var(--charNameFontSize);
  --itemNameFontSize : 18px; // var(--itemNameFontSize);
  --navFontSize: 15px; // var(--navFontSize);
  --catFontSize: 16px; // var(--catFontSize);
  --mainFontFam: "signika", sans-serif; // var(--mainFontFam);
  --mainFontSize: 14px; // var(--titleColor);
  --smallFontSize: 12px; // var(--smallFontSize);
}

.tech{

  --titleColor: #4d8b99; // var(--titleColor);
  --highlightColor: #56397E; // var(--highlightColor);
  --hoverColor: #271737; // var(--hoverColor);
  --titleFontFam: "Tech"; // var(--titleFontFam);
  --charNameFontSize : 22px; // var(--charNameFontSize);
  --itemNameFontSize : 20px; // var(--itemNameFontSize);
  --navFontSize: 16px; // var(--navFontSize);
  --catFontSize: 18px; // var(--catFontSize);
  --mainFontFam: "signika", sans-serif; // var(--mainFontFam);
  --mainFontSize: 14px; // var(--mainFontSize);
  --smallFontSize: 12px; // var(--smallFontSize);

  .window-content{
    background: rgb(216,215,219);
    background: radial-gradient(circle, rgba(216,215,219,1) 14%, rgba(180,200,210,1) 100%);
    //background:url(../assets/ui/parchment_b.jpg) repeat;
  }
}
