.mage{
  --titleColor: var(--titleColor);
}
.tech{
  --titleColor: #3a537a; // var(--titleColor)
  --highlightColor: #67957f; // var(--highlightColor)
  --hoverColor: #d69806; // var(--hoverColor)
  --titleFontFam: "signika", sans-serif; // var(--titleFontFam)

  .window-content{
    background:url(../assets/ui/parchment_b.jpg) repeat;
  }
}
