

.m20e.sheet,
.m20e.dialogue{
  .paradigm-img{
    position: absolute;
    border: none;
    margin-top: -10px;
    right:0;
    width: 100%;
    height: calc(100% - 28px);
    opacity: 0.2;
    background-size: contain;
    background-repeat: repeat-y;
  }

  .context-items{
    font-family: var(--mainFontFam);
    font-size: var(--smallFontSize);
    font-weight:lighter;

  }

  .entity-link{
    border: none;
    background: none;
    i.fas{
      color:dodgerblue;
    }
  }
  .entity-link[data-id='']{
    i.fas{
      color:#7a7971;
    }
  }

  form{
    font-family: var(--mainFontFam);
    font-size: var(--mainFontSize);
    font-weight: 600;
    color: var(--m20e-darkGrey);
  }

  .sheet-header{
    flex-wrap: nowrap;
    align-items: flex-start;
    
    .img-colunm{
      flex: 0;
      flex-direction: column;
    }

    .header-column{
      margin-left:6px;
    }
    .header-row{
      display: flex;
      width:100%;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
    
    img{
      height: 100px;
      width: 100px;
      max-width: none;
      border : none;
      cursor: pointer;
    }
    
    .name{
      font-family: var(--titleFontFam);
      font-weight: bold;
      border: none;
      border-bottom: 2px solid var(--titleColor);
      background: none;
    }

    .dice-button{
      flex: 0 0 45px;
      align-self: flex-end;
      height: 45px;
      margin-left: 5px;
    }
  }
  
  .sheet-tabs{
    height: 32px;
    margin: 5px 0;
    border-bottom: 0px;
    border-top:0px;
    border-left: 1px var(--m20e-midGrey);
    font-family: var(--titleFontFam);
    font-size: var(--navFontSize);
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(245, 242, 217, 0.8);
    text-align: center;
    
    a {
      color: var(--m20e-darkGrey);  
      background: rgba(0,0,0,0.3);
      border: 1px solid var(--m20e-lightGrey);
      border-radius: 6px 6px 0px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2px;
      
      label {
        flex: 10 10;
        text-align: center;
      }
      .mini-button {
        height: 20px;
        width: 20px;
        display: none;
        text-shadow: none;
      }
      .mini-button[data-hidden='false'] {
        height: 20px;
        width: 20px;
        display: inline-flex;
      }
    }
    a.active {
      font-size: calc(var(--navFontSize) + 2px);
      color:  var(--titleColor);
      background: #bdb9b200; // todo : check that out
      border-color: var(--m20e-midGrey);
      border-bottom: 0px;
      margin-top: 0px;
      padding-top: 3px;
    }
    a:hover {
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(245, 242, 217, 1);
    }
    a:hover .mini-button[data-action='lock'] {
      display: inline-flex;
    }
  }

  .dice-button{
    background: url("../assets/ui/ten-dice.png") no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .tooltip{
    .righttooltiptext {
      visibility: hidden;        
      background: rgba(0, 0, 0, 0.8) url(../assets/ui/parchment-dark.jpg) repeat;
      text-align: center;
      text-decoration: none;
      text-shadow: none;
      border: 1px solid var(--m20e-lightGrey);
      border-radius: 3px;
      padding: 5px 10px;
      position: fixed;
      margin: -5px 0px 0px 5px; 
      z-index: 1;
    }
    .righttooltiptext::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent var(--m20e-darkGrey) transparent transparent;
    }
    .bottomtooltiptext {
      visibility: hidden;
      background: rgba(0, 0, 0, 0.8) url(../assets/ui/parchment-dark.jpg) repeat;
      text-align: left;
      text-decoration: none;
      text-shadow: none;
      font-size: 12px;
      font-weight: normal;
      border: 1px solid var(--m20e-lightGrey);
      border-radius: 3px;
      padding: 5px 10px;
      position: absolute;
      width:95%;
      top: 100%;
      left: 5%;
      margin: 5px 0px 0px 0px; 
      z-index: 1;
    }
    .bottomtooltiptext::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 10%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent var(--m20e-darkGrey) transparent;
    }
  } 

  .tooltip:hover .righttooltiptext {
    visibility: visible;
  }
  .tooltip:hover .bottomtooltiptext {
    visibility: visible;
  }
}
.m20e.actor{

  .sheet-header{
    .name-wrapper{
      position:relative;
      flex:1;
    }
    .name{
      text-overflow: ellipsis;
      margin-top: -5px;
      height:30px;
      color: var(--m20e-darkGrey);
      font-size: var(--charNameFontSize);
    }
    .personnal-je{
      visibility: hidden;
      position: absolute;
      right: 0px;
    }
    .name-wrapper:hover .personnal-je{
      visibility:visible;
    }

    img{
      margin: 5px 0;
      padding: 3px;
      background-color: ivory; //todo linear diagonal gradient
      box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.7);
      transform: rotate(1deg);
    }
  }
}

.m20e.item{
  min-height: 250px;
  .sheet-header{
    .item-type{
        margin: 0px 5px;
        height: 50px;
        display: flex;
        align-items: center;
        color: var(--m20e-midGrey); //#606060; 
        background: rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        padding: 3px;
    }
    img {
        height: auto;
        width: 50px;
        margin: 0 0; 
        cursor: pointer;
        background-image: radial-gradient(rgba(130,81,20,0.4), rgba(0,0,0,0));
        box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.7);
    }    
    .name{
      text-overflow: ellipsis;
      margin: 0px 0px 5px;
      align-self: center;
      height:26px;
      color: var(--m20e-darkGrey);
      font-size: var(--itemNameFontSize);
    }
  }
  section.tab{
    margin-top: 5px;
  }
  img.sheetLogo{
    display:block;
    min-width: 100px;
    min-height: 100px;
    height:auto;
    max-width: 100%;
  }
  .rote-effect-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .grid{
      width: 75%;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      padding-right: 31px;
      min-height: 26px;
    }
  }

}


