.m20e{
  /* -------------------------------------------- */
  /*  Generic traits                              */
  /* -------------------------------------------- */
  .trait{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .trait-img{
      border: none;
      height: 25px;
      width: 25px;
      margin: 0 5px 0 0;
      background-image: radial-gradient(rgba(130,81,20,0.4), rgba(0,0,0,0));
    }
    .trait-label:hover {//TODO : Maybe not all trait labels should behave like that ?
      text-shadow: 0 0 1px var(--hoverColor);
    }
    .ligne{
      flex: 10 10;
      height: 1em;
      margin: 0 2px 2px;
      border-bottom: 1px solid var(--m20e-lightGrey);
    }
    .edit-bar{
      display: flex;
      flex: 0 0;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      
      input{
        flex: 0 0;
        height: 20px;
        padding: 0 0;
        text-align: center;
      }
    }
    .edit-bar[data-locked='true']{
      display: none;
    }    
    .bullet[data-clickable='true']{
      cursor: pointer; 
    }
    .vertical-wrapper{//used instead of flexcol
      display: flex;
      flex-direction: column;
      flex: 1 1;
    }
    .horizontal-wrapper{//used instead of flexrow 
      display: flex;
      flex-direction: row;
    }
    .one-liner-desc{
      position: relative;
      margin-top: 5px;
      background-color: rgba(0, 0, 0, 0.05);
      border: none;
      border-radius: 3px;
      padding: 3px 6px;
      height: 25px;
      font-family: var(--mainFontFam);
      font-size: var(--mainFontSize);
      line-height: 20px;
      font-weight:400;
      font-style: oblique;
      color: var(--m20e-darkGrey);
      overflow: hidden;
      .mini-button{
        float: right;
        margin: -1px -4px 0px 3px; 
        border: none;
      }
    }
    .one-liner-desc[data-expanded="true"]{
      height:fit-content;
    }
  }
  .trait[data-active='true'] .trait-label{
    color: var(--highlightColor);
    text-shadow: 0 0 1px var(--m20e-darkGrey);
  }

  /* -------------------------------------------- */
  /*  Category specific traits                    */
  /* -------------------------------------------- */

  .trait.attribute,
  .trait.sphere{
      height: 20px;
      margin: 3px 0;
  }
/* -------------------------------------------- */
  .trait.ability{
    height: 20px;
    margin: 2px 0;
    font-size: var(--smallFontSize);
    .trait-extra{
      font-size: 18px;
      font-weight: bolder;
      padding-bottom: 2px;
      padding-right: 1px;
    }
    .bullet{
        height: 13px;
        width: 10px;
    }
    input {
        padding: 1px 0 0; 
    }
  }
/* -------------------------------------------- */
  .trait.dice-throw{
    height:20px;
    margin: 3px 0;

    .trait-label[data-value="0"]{
      color: var(--m20e-badRed);
    }
    .trait-label:hover{
        text-shadow: none;
    }
    .mini-button[data-action="remove"]{
        color: var(--m20e-badRed);
        margin-right:10px;
    }
    .mini-button[data-disabled='true']{
      color: var(--m20e-lightGrey);
      border: none;
      cursor:default;
    }
    .mini-button.spe {
      width: 50px;
      margin-left:10px;
    }
    .mini-button.spe[data-active='true'] {
        color: var(--highlightColor); 
        text-shadow: none;
    }
  }
/* -------------------------------------------- */
  .trait.chat-flavor{
    height: 20px;
    margin: 3px 0;
    padding: 0px 25px;
    color: var(--m20e-midGrey);
    .ligne{
      border-color:var(--m20e-midGrey);
    }
    .bullet-display{
      border-color:var(--m20e-midGrey);
    }
    .trait-label{
      font-weight: bold;
    }
    .bullet-display[data-value="0"]{
      border-color: var(--m20e-badRed);
    }
    .bullet[data-state='active']{
      background: var(--m20e-lightGrey); 
    }
  }
/* -------------------------------------------- */
  .trait.arete{//todo : do better
    height: 20px;
    margin: 3px 0;
    align-items: center;
    justify-content: center;
    .ligne{
      flex: 0 0 15px;
    }
  } 
/* -------------------------------------------- */
  .trait.description{
    flex-wrap: nowrap;
    height : 22px;
    margin: 3px 0;
    .trait-label{
      line-height: 12px;
      font-weight: 400;
    }
    .colon{
      flex: 8 8;
      text-align: right;
      padding-right: 5px;
    }
    .lock-wrapper{
      position: relative;
      flex: 0 0 65%;
      justify-content: left;
      input{
        flex: 1 1;
        padding: 3px 0;
        padding: 3px 5px;
      }
      input:disabled{
        border: none;
        font-weight: bold;
      }
    }
    .ligne{
      margin: 0 25px 12px; 
      border-color: var(--titleColor);
    }
    .bio-link{
      visibility: hidden;
      position: absolute;
      right: 3px;
      top: 3px;
    }
    .lock-wrapper:hover .bio-link{
      visibility: visible;
    }
  }
/* -------------------------------------------- */
  .description{ //TODO : should be in a trait !
    textarea{
      resize: none;
      border: none;
      height: 75px;
      font-family: "signika", sans-serif;
      font-size: 14px;
      font-weight:400;
      font-style: oblique;
      color: #202020;
    }
  }
/* -------------------------------------------- */
  .trait.background{
    margin: 2px 0px; 
  }
/* -------------------------------------------- */
  .trait.meritflaw{
    margin: 2px 0px;
    .bullet-display{
      flex: 0 0 65px;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      justify-content: left;
      padding: 3px 0 3px 5px;
    }
  }
/* -------------------------------------------- */
  .trait.rote{
    margin-top: 3px;
    div.item-img{
      position: relative;
      align-self: flex-start;
      background-size: contain;
      background-repeat: no-repeat;
      //background-color: radial-gradient(rgba(130,81,20,0.4), rgba(0,0,0,0));
      border: none;
      height: 40px;
      width: 40px;
      margin: 3px 5px 0 0;
    }
    .trait-label{
      margin-left : 5px;
    }
    .trait-dice{
      visibility: hidden;
      position:absolute;
      border:none;
      top:12px;
      left:12px;
      width:30px;
      height: 30px;
      background-image: url("../assets/ui/ten-dice.png");
      background-size: contain; 
      cursor: pointer;
      z-index: 1;
      opacity: 0;
      transition: opacity 1s;
    }
  }
  .rote:hover .trait-dice{
    visibility: visible;
    opacity: 1;
  }
/* -------------------------------------------- */
.trait.event{
  margin-top: 3px;
  .trait-img{
    position: relative;
    align-self: flex-start;
    border: none;
    height: 40px;
    width: 40px;
    margin: 3px 5px 0 0;
    background-image: radial-gradient(rgba(130,81,20,0.4), rgba(0,0,0,0));
  }
  .trait-label{
    margin-left : 5px;
  }
}
/* -------------------------------------------- */
.trait.equipable,
.trait.misc{
  .bullet-display{
    flex: 0 0 75px;
  }
  .mini-button{
    min-width: 20px;
  }
  .number-spinner{
    position: relative;
    flex: 0 0 50px;
    input{
      height:20px;
      padding-right: 21px;
    }
    .double-button{
      position: absolute;
      top: 1px;
      right: 1px;
      height: 18px;
      border: none;
      .mini-button{
        height: 9px;
      }
    }
    .double-button:hover{
      box-shadow: none;
    }
  }
}

/* -------------------------------------------- */
.trait.aeffect{
  input{
    flex: 0 0 20px;
    margin: 0px 0px 0px 1px;
  }
}
/* -------------------------------------------- */
  .trait.rote-effect{
    width:100%;
    justify-self: center;
    height: 20px;
    margin: 3px 0px 3px 0px;
    .trait-label{
      padding-left: 3px;
    }
    select{
      height:20px;
    }
    .mini-button{
        color: var(--m20e-badRed);
        margin-right:10px;
    }
  }
/* -------------------------------------------- */
  .trait.lexicon{ //todo : should use field instead !
    input{
      height: 24px;
      margin: 3px 10px 3px 0;
      background: none;
    }
    label{
      flex: 1;
      padding-left: 5px;
      height: 24px;
      margin: 3px 10px 3px 0;
    }
  }
  .trait.lexicon:nth-child(even){
    background-color: rgba(0,0,0,0.1);
  }
  /* -------------------------------------------- */
  /*  Fields                                      */
  /* -------------------------------------------- */
  //fields are used exclusively by itemSheets
  .field{
    display: block;
    margin: 5px 5px;

    select{
        width: 100%;
    }
    textarea{
        resize: none;
        border: none;
        min-height: 80px;
        height: 80px;
        font-family: var(--mainFontFam);
        font-size: var(--mainFontSize);
        font-weight:400;
        font-style: oblique;
        color: var(--m20e-darkGrey);
    }
    .editor{
      font-size: var(--mainFontSize);
      font-weight: normal;
      height: 250px;
      border: 1px solid var(--m20e-lightGrey);
      border-radius: 3px;
      padding: 3px 3px 0px;
    }
    .fake-editor{
      margin-top: 3px;
      font-size: var(--mainFontSize);
      font-weight: normal;
      color: var(--m20e-darkGrey);
      background-color: rgba(0,0,0,0.05);
      min-height: 20px;
      border: 1px solid var(--m20e-lightGrey);
      border-radius: 3px;
      padding: 3px 3px 0px;
    }
  }
}