//traits

.m20e{
  .trait{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    .trait-img{
      border: none;
      height: 25px;
      width: 25px;
      margin: 0 5px;
      background-image: radial-gradient(rgba(130,81,20,0.4), rgba(0,0,0,0));
    } 

    .trait-label:hover {//TODO : not all trait labels should behave like that
      text-shadow: 0 0 1px var(--hoverColor);
    }
    .ligne{
      flex: 10 10;
      height: 1em;
      margin: 0 2px 2px;
      border-bottom: 1px solid var(--m20e-lightGrey);
    }
    .edit-bar{
      display: flex;
      flex: 0 0;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      
      input{
        flex: 0 0;
        height: 20px;
        padding: 0 0;
        text-align: center;
      }
    }
    
    .edit-bar[data-locked='true']{
      display: none;
    }
    
    .bullet[data-clickable='true']{
      cursor: pointer; 
    }
  }
  .trait[data-active='true'] .trait-label{
    color: var(--highlightColor);
    text-shadow: 0 0 1px var(--m20e-darkGrey);
  }

  .trait.attribute,
  .trait.sphere{
      height: 20px;
      margin: 3px 0;
  }

  .trait.ability{
    height: 20px;
    margin: 2px 0;
    font-size: var(--smallFontSize);
    .trait-extra{
      font-size: 18px;
      font-weight: bolder;
      padding-bottom: 2px;
      padding-right: 1px;
    }
    .bullet{
        height: 13px;
        width: 10px;
    }
    input {
        padding: 1px 0 0; 
    }
  }
  .trait.chat-flavor{
    height: 20px;
    margin: 3px 0;
    padding: 0px 25px;
    color: var(--m20e-midGrey);
    .ligne{
      border-color:var(--m20e-midGrey);
    }
    .bullet-display{
      border-color:var(--m20e-midGrey);
    }
    .trait-label{
      font-weight: bold;
    }
    .bullet-display[data-value="0"]{
      border-color: var(--m20e-badRed);
    }
    .bullet[data-state='active']{
      background: var(--m20e-lightGrey); 
    }

  }
  .trait.arete{
    height: 20px;
    margin: 3px 0;
    align-items: center;
    justify-content: center;
    .ligne{
        flex: 0 0 15px;
    }
  } 

  .trait.lexicon{
    input{
      height: 24px;
      margin: 3px 10px 3px 0;
      background: none;
    }
    label{
      flex: 1;
      padding-left: 5px;
      height: 24px;
      margin: 3px 10px 3px 0;
    }
  }
  .trait.lexicon:nth-child(even){
    background-color: rgba(0,0,0,0.1);
  }

  .field{
    display: block;
    margin: 5px 5px;

    select{
        width: 100%;
    }

    textarea{
        resize: none;
        border: none;
        min-height: 80px;
        height: 80px;
        font-family: "signika", sans-serif;
        font-size: 14px;
        font-weight:400;
        font-style: oblique;
        color: var(--m20e-darkGrey);
    }
    .editor{
      font-size: 14px;
      font-weight: normal;
      height: 250px;
      border: 1px solid var(--m20e-lightGrey);
      border-radius: 3px;
      padding: 3px 3px 0px;
    }
    .fake-editor{
      margin-top: 3px;
      font-size: 14px;
      font-weight: normal;
      color: var(--m20e-darkGrey);
      background-color: rgba(0,0,0,0.05);
      min-height: 20px;
      border: 1px solid var(--m20e-lightGrey);
      border-radius: 3px;
      padding: 3px 3px 0px;
    }
  }
}