/************
** Fonts **
*************/
@font-face {
  font-family: "Diablo";
  src: url("../assets/fonts/Diablo-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Diablo";
  src: url("../assets/fonts/Diablo-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/**************
** Variables **
***************/
:root {
  --m20e-badRed: #610d11;
  --m20e-badRedAlpha: #610d11b2;
  --m20e-goodGreen: #18520b;
  --m20e-goodGreenAlpha: #18520b80;
  --m20e-neutralOrange: #b58018;
  --m20e-darkGrey: #191813;
  --m20e-midGrey: #56544e;
  --m20e-lightGrey: #7a7971;
  --m20e-superLightGrey: #b5b3a4;
  --m20e-mainFontSize: 14px;
  --m20e-senderFontFam: "Diablo";
  --m20e-senderFontSize: 16px;
  --m20e-descFontSize: 12px;
}
.m20e {
  --titleColor: #610d11;
  --highlightColor: #610d11;
  --hoverColor: #610d11;
  --titleFontFam: "Diablo";
  --charNameFontSize: 22px;
  --itemNameFontSize: 20px;
  --navFontSize: 16px;
  --catFontSize: 18px;
  --mainFontFam: "signika", sans-serif;
  --mainFontSize: 14px;
  --smallFontSize: 12px;
}
/************
** Imports **
*************/
.m20e.sheet .fake-placeholder,
.m20e.dialogue .fake-placeholder {
  display: block;
  position: absolute;
  margin: 5px 5px;
  font-weight: normal;
  font-style: italic;
}
.m20e.sheet .paradigm-img,
.m20e.dialogue .paradigm-img {
  position: absolute;
  border: none;
  margin-top: -10px;
  right: 0;
  width: 100%;
  height: calc(100% - 28px);
  background-size: contain;
  background-repeat: repeat-y;
}
.m20e.sheet .context-items,
.m20e.dialogue .context-items {
  font-family: var(--mainFontFam);
  font-size: var(--smallFontSize);
  font-weight: lighter;
}
.m20e.sheet .entity-link,
.m20e.dialogue .entity-link {
  border: none;
  background: none;
}
.m20e.sheet .entity-link i.fas,
.m20e.dialogue .entity-link i.fas {
  color: dodgerblue;
}
.m20e.sheet .entity-link[data-id=''] i.fas,
.m20e.dialogue .entity-link[data-id=''] i.fas {
  color: #7a7971;
}
.m20e.sheet form,
.m20e.dialogue form {
  font-family: var(--mainFontFam);
  font-size: var(--mainFontSize);
  font-weight: 600;
  color: var(--m20e-darkGrey);
}
.m20e.sheet .sheet-header,
.m20e.dialogue .sheet-header {
  flex-wrap: nowrap;
  align-items: flex-start;
}
.m20e.sheet .sheet-header .img-colunm,
.m20e.dialogue .sheet-header .img-colunm {
  flex: 0;
  flex-direction: column;
}
.m20e.sheet .sheet-header .header-column,
.m20e.dialogue .sheet-header .header-column {
  margin-left: 6px;
}
.m20e.sheet .sheet-header .header-row,
.m20e.dialogue .sheet-header .header-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.m20e.sheet .sheet-header img,
.m20e.dialogue .sheet-header img {
  height: 100px;
  width: 100px;
  max-width: none;
  border: none;
  cursor: pointer;
}
.m20e.sheet .sheet-header .name,
.m20e.dialogue .sheet-header .name {
  font-family: var(--titleFontFam);
  font-weight: bold;
  border: none;
  border-bottom: 2px solid var(--titleColor);
  background: none;
}
.m20e.sheet .sheet-header .dice-button,
.m20e.dialogue .sheet-header .dice-button {
  flex: 0 0 45px;
  align-self: flex-end;
  height: 45px;
  margin-left: 5px;
}
.m20e.sheet .sheet-tabs,
.m20e.dialogue .sheet-tabs {
  height: 32px;
  margin: 5px 0;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 1px var(--m20e-midGrey);
  font-family: var(--titleFontFam);
  font-size: var(--navFontSize);
  font-weight: bold;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(245, 242, 217, 0.8);
  text-align: center;
}
.m20e.sheet .sheet-tabs a,
.m20e.dialogue .sheet-tabs a {
  color: var(--m20e-darkGrey);
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid var(--m20e-lightGrey);
  border-radius: 6px 6px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  padding-right: 2px;
}
.m20e.sheet .sheet-tabs a label,
.m20e.dialogue .sheet-tabs a label {
  flex: 10 10;
  text-align: center;
}
.m20e.sheet .sheet-tabs a .mini-button,
.m20e.dialogue .sheet-tabs a .mini-button {
  height: 20px;
  width: 20px;
  display: none;
  text-shadow: none;
}
.m20e.sheet .sheet-tabs a .mini-button[data-hidden='false'],
.m20e.dialogue .sheet-tabs a .mini-button[data-hidden='false'] {
  height: 20px;
  width: 20px;
  display: inline-flex;
}
.m20e.sheet .sheet-tabs a.disabled,
.m20e.dialogue .sheet-tabs a.disabled {
  cursor: default;
}
.m20e.sheet .sheet-tabs a.active,
.m20e.dialogue .sheet-tabs a.active {
  font-size: calc(var(--navFontSize) + 2px);
  color: var(--titleColor);
  background: #bdb9b200;
  border-color: var(--m20e-midGrey);
  border-bottom: 0px;
  margin-top: 0px;
  padding-top: 3px;
}
.m20e.sheet .sheet-tabs a:hover,
.m20e.dialogue .sheet-tabs a:hover {
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.7), 1px 1px 0 #f5f2d9;
}
.m20e.sheet .sheet-tabs a:hover .mini-button[data-action='lock'],
.m20e.dialogue .sheet-tabs a:hover .mini-button[data-action='lock'] {
  display: inline-flex;
}
.m20e.sheet .dice-button,
.m20e.dialogue .dice-button {
  background: url("../assets/ui/ten-dice.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}
.m20e.sheet .tooltip .righttooltiptext,
.m20e.dialogue .tooltip .righttooltiptext {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8) url(../assets/ui/parchment-dark.jpg) repeat;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  border: 1px solid var(--m20e-lightGrey);
  border-radius: 3px;
  padding: 5px 10px;
  position: fixed;
  margin: -5px 0px 0px 5px;
  z-index: 1;
}
.m20e.sheet .tooltip .righttooltiptext::after,
.m20e.dialogue .tooltip .righttooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--m20e-darkGrey) transparent transparent;
}
.m20e.sheet .tooltip .bottomtooltiptext,
.m20e.dialogue .tooltip .bottomtooltiptext {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8) url(../assets/ui/parchment-dark.jpg) repeat;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid var(--m20e-lightGrey);
  border-radius: 3px;
  padding: 5px 10px;
  position: absolute;
  width: 95%;
  top: 100%;
  left: 5%;
  margin: 5px 0px 0px 0px;
  z-index: 1;
}
.m20e.sheet .tooltip .bottomtooltiptext::after,
.m20e.dialogue .tooltip .bottomtooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--m20e-darkGrey) transparent;
}
.m20e.sheet .tooltip:hover .righttooltiptext,
.m20e.dialogue .tooltip:hover .righttooltiptext {
  visibility: visible;
}
.m20e.sheet .tooltip:hover .bottomtooltiptext,
.m20e.dialogue .tooltip:hover .bottomtooltiptext {
  visibility: visible;
}
.m20e.actor .sheet-header .name-wrapper {
  position: relative;
  flex: 1;
}
.m20e.actor .sheet-header .name {
  text-overflow: ellipsis;
  margin-top: -5px;
  height: 30px;
  color: var(--m20e-darkGrey);
  font-size: var(--charNameFontSize);
}
.m20e.actor .sheet-header .personnal-je {
  visibility: hidden;
  position: absolute;
  right: 0px;
}
.m20e.actor .sheet-header .name-wrapper:hover .personnal-je {
  visibility: visible;
}
.m20e.actor .sheet-header img {
  margin: 5px 0;
  padding: 3px;
  background-color: ivory;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.7);
  transform: rotate(1deg);
}
.m20e.item {
  min-height: 250px;
}
.m20e.item .sheet-header .item-type {
  margin: 0px 5px;
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--m20e-midGrey);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 3px;
}
.m20e.item .sheet-header img {
  height: auto;
  width: 50px;
  margin: 0 0;
  cursor: pointer;
  background-image: radial-gradient(rgba(130, 81, 20, 0.4), rgba(0, 0, 0, 0));
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.7);
}
.m20e.item .sheet-header .name {
  text-overflow: ellipsis;
  margin: 0px 0px 5px;
  align-self: center;
  height: 26px;
  color: var(--m20e-darkGrey);
  font-size: var(--itemNameFontSize);
}
.m20e.item section.tab {
  margin-top: 5px;
}
.m20e.item img.sheetLogo {
  display: block;
  min-width: 100px;
  min-height: 100px;
  height: auto;
  max-width: 100%;
}
.m20e.item .rote-effect-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.m20e.item .rote-effect-wrapper .grid {
  width: 75%;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding-right: 31px;
  min-height: 26px;
}
.m20e.item .effect-grid {
  width: 100%;
  grid-template-columns: 40fr 35fr 10fr 15fr;
  margin-left: 3px;
  margin-right: 3px;
}
.m20e.item .effect-grid input {
  height: 20px;
}
.m20e.item .effect-grid select {
  height: 20px;
}
.m20e .category {
  margin: 5px 0;
}
.m20e .category .category-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 28px;
  margin: 10px 0px 5px 0px;
  border-bottom: 1px solid var(--titleColor);
}
.m20e .category .category-banner label {
  flex: 10 10;
  color: var(--titleColor);
  font-family: var(--titleFontFam);
  font-size: var(--catFontSize);
  font-weight: normal;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(245, 242, 217, 0.6);
}
.m20e .category .category-banner .mini-button {
  height: 25px;
  width: 25px;
  font-size: 20px;
  display: none;
}
.m20e .category .category-banner .mini-button[data-hidden='false'] {
  height: 25px;
  width: 25px;
  font-size: 20px;
  display: inline-flex;
}
.m20e .category .category-banner:hover .mini-button[data-action='lock'] {
  display: inline-flex;
}
.m20e .category .mini-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0;
}
.m20e .category .mini-banner label {
  flex: 10 10;
  text-align: center;
}
.m20e .category.rotes .grid,
.m20e .category.aeffects .grid,
.m20e .category.events .grid {
  padding: 0 5px;
}
.bullet-display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  border-color: var(--m20e-darkGrey);
}
.bullet-display .bullet {
  height: 14px;
  width: 11px;
  border: 2px;
  border-style: solid;
  border-color: inherit;
  background: transparent;
  display: inline-block;
  border-radius: 50%;
  margin-right: 2px;
}
.bullet-display .bullet[data-clickable='true'] {
  cursor: pointer;
}
.bullet-display .bullet[data-state='active'] {
  background: var(--m20e-midGrey);
}
.bullet-display .bullet[data-state='upgraded'] {
  background: var(--m20e-lightGrey);
}
.bullet-display .bullet[data-state='downgraded'] {
  background-image: url('../assets/ui/bullet-strike.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bullet-display[data-locked='false'] {
  display: none;
}
.m20e .mini-button {
  box-sizing: border-box;
  display: inline-flex;
  height: 20px;
  width: 20px;
  margin-left: 1px;
  font-size: 16px;
  line-height: 16px;
  background: rgba(0, 0, 0, 0.05);
  color: var(--m20e-midGrey);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--m20e-lightGrey);
  border-radius: 3px;
}
.m20e .mini-button[data-disabled='true'] {
  color: var(--m20e-lightGrey);
  border: none;
  cursor: default;
}
.m20e .mini-button:hover {
  color: var(--m20e-darkGrey);
  text-shadow: none;
  box-shadow: 0 0 2px 1px var(--hoverColor);
}
.m20e .mini-button[data-disabled='true']:hover {
  color: var(--m20e-lightGrey);
  text-shadow: none;
  box-shadow: none;
}
.m20e .mini-button[data-locked='true'] {
  display: none;
}
.m20e .mini-button.decoy {
  border: 0px;
  background: none;
}
.m20e .mini-button.decoy:hover {
  box-shadow: none;
}
.m20e .double-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 32px;
  width: 20px;
  margin-left: 1px;
  font-size: 14px;
  line-height: 14px;
  background: rgba(0, 0, 0, 0.05);
  color: var(--m20e-midGrey);
  align-items: center;
  border: 1px solid var(--m20e-lightGrey);
  border-radius: 3px;
}
.m20e .double-button .mini-button {
  box-sizing: border-box;
  display: inline-flex;
  height: 16px;
  width: inherit;
  margin: 1px 0 0 1px;
  font-size: inherit;
  line-height: inherit;
  background: none;
  color: var(--m20e-midGrey);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px;
}
.m20e .double-button .mini-button:hover {
  color: var(--hoverColor);
  text-shadow: none;
  box-shadow: none;
}
.m20e .double-button:hover {
  box-shadow: 0 0 2px 1px var(--hoverColor);
}
.m20e .resource-panel {
  flex: 1 1;
}
.m20e .resource-panel label {
  margin-left: 4px;
}
.m20e .resource-panel .boxes {
  display: flex;
  padding: 0px 0px;
  flex-wrap: wrap;
  flex: 1;
}
.m20e .resource-panel .boxes .box {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-left: 2px;
  margin-top: 0px;
  border: 2px outset var(--m20e-darkGrey);
  box-sizing: content-box;
}
.m20e .resource-panel .boxes .box[data-clickable='true'] {
  cursor: pointer;
}
.m20e .health .box,
.m20e .willpower .box {
  background-color: var(--m20e-goodGreenAlpha);
}
.m20e .health .box[data-state='bashing'],
.m20e .willpower .box[data-state='bashing'] {
  background-color: var(--m20e-badRedAlpha);
}
.m20e .health .box[data-state='lethal'],
.m20e .willpower .box[data-state='lethal'] {
  background-color: var(--m20e-badRedAlpha);
  background-image: url('../assets/ui/strike1.png');
  background-size: contain;
}
.m20e .health .box[data-state='aggravated'],
.m20e .willpower .box[data-state='aggravated'] {
  background-color: var(--m20e-badRedAlpha);
  background-image: url('../assets/ui/strike2.png');
  background-size: contain;
}
.m20e .magepower {
  margin-top: 10px;
}
.m20e .magepower .box[data-state='1'] {
  background-image: radial-gradient(rgba(253, 253, 253, 0.9), rgba(182, 167, 82, 0.4), rgba(130, 81, 20, 0.4), rgba(0, 0, 0, 0));
}
.m20e .magepower .box[data-state='2'] {
  background-image: radial-gradient(rgba(97, 13, 17, 0.9), rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0));
}
.m20e {
  /* -------------------------------------------- */
  /*  Generic traits                              */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /*  Category specific traits                    */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /*  Fields                                      */
  /* -------------------------------------------- */
}
.m20e .trait {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.m20e .trait .trait-img {
  border: none;
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
  background-image: radial-gradient(rgba(130, 81, 20, 0.4), rgba(0, 0, 0, 0));
}
.m20e .trait .trait-label:hover {
  text-shadow: 0 0 1px var(--hoverColor);
}
.m20e .trait .ligne {
  flex: 10 10;
  height: 1em;
  margin: 0 2px 2px;
  border-bottom: 1px solid var(--m20e-lightGrey);
}
.m20e .trait .edit-bar {
  display: flex;
  flex: 0 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.m20e .trait .edit-bar input {
  flex: 0 0;
  height: 20px;
  padding: 0 0;
  text-align: center;
}
.m20e .trait .edit-bar[data-locked='true'] {
  display: none;
}
.m20e .trait .bullet[data-clickable='true'] {
  cursor: pointer;
}
.m20e .trait .vertical-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.m20e .trait .horizontal-wrapper {
  display: flex;
  flex-direction: row;
}
.m20e .trait .one-liner-desc {
  position: relative;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 3px;
  padding: 3px 6px;
  height: 25px;
  font-family: var(--mainFontFam);
  font-size: var(--mainFontSize);
  line-height: 20px;
  font-weight: 400;
  font-style: oblique;
  color: var(--m20e-darkGrey);
  overflow: hidden;
}
.m20e .trait .one-liner-desc .mini-button {
  float: right;
  margin: -1px -4px 0px 3px;
  border: none;
}
.m20e .trait .one-liner-desc[data-expanded="true"] {
  height: fit-content;
}
.m20e .trait[data-active='true'] .trait-label {
  color: var(--highlightColor);
  text-shadow: 0 0 1px var(--m20e-darkGrey);
}
.m20e .trait.attribute,
.m20e .trait.sphere {
  height: 20px;
  margin: 3px 0;
}
.m20e .trait.ability {
  height: 20px;
  margin: 2px 0;
  font-size: var(--smallFontSize);
}
.m20e .trait.ability .trait-extra {
  font-size: 18px;
  font-weight: bolder;
  padding-bottom: 2px;
  padding-right: 1px;
}
.m20e .trait.ability .bullet {
  height: 13px;
  width: 10px;
}
.m20e .trait.ability input {
  padding: 1px 0 0;
}
.m20e .trait.throw {
  height: 20px;
  margin: 3px 0;
}
.m20e .trait.throw .trait-label[data-value="0"] {
  color: var(--m20e-badRed);
}
.m20e .trait.throw .trait-label:hover {
  text-shadow: none;
}
.m20e .trait.throw .mini-button[data-action="remove"] {
  color: var(--m20e-badRed);
  margin-right: 10px;
}
.m20e .trait.throw .mini-button[data-disabled='true'] {
  color: var(--m20e-lightGrey);
  border: none;
  cursor: default;
}
.m20e .trait.throw .mini-button.spe {
  width: 50px;
  margin-left: 10px;
}
.m20e .trait.throw .mini-button.spe[data-active='true'] {
  color: var(--highlightColor);
  text-shadow: none;
}
.m20e .trait.chat-flavor {
  height: 20px;
  margin: 3px 0;
  padding: 0px 25px;
  color: var(--m20e-midGrey);
}
.m20e .trait.chat-flavor .ligne {
  border-color: var(--m20e-midGrey);
}
.m20e .trait.chat-flavor .bullet-display {
  border-color: var(--m20e-midGrey);
}
.m20e .trait.chat-flavor .trait-label {
  font-weight: bold;
}
.m20e .trait.chat-flavor .bullet-display[data-value="0"] {
  border-color: var(--m20e-badRed);
}
.m20e .trait.chat-flavor .bullet[data-state='active'] {
  background: var(--m20e-lightGrey);
}
.m20e .trait.arete {
  height: 20px;
  margin: 3px 0;
  align-items: center;
  justify-content: center;
}
.m20e .trait.arete .ligne {
  flex: 0 0 15px;
}
.m20e .trait.description {
  flex-wrap: nowrap;
  height: 22px;
  margin: 3px 0;
}
.m20e .trait.description .trait-label {
  line-height: 12px;
  font-weight: 400;
}
.m20e .trait.description .colon {
  flex: 8 8;
  text-align: right;
  padding-right: 5px;
}
.m20e .trait.description .lock-wrapper {
  position: relative;
  flex: 0 0 65%;
  justify-content: left;
}
.m20e .trait.description .lock-wrapper input {
  flex: 1 1;
  padding: 3px 0;
  padding: 3px 5px;
}
.m20e .trait.description .lock-wrapper input:disabled {
  border: none;
  font-weight: bold;
}
.m20e .trait.description .ligne {
  margin: 0 25px 12px;
  border-color: var(--titleColor);
}
.m20e .trait.description .bio-link {
  visibility: hidden;
  position: absolute;
  right: 3px;
  top: 3px;
}
.m20e .trait.description .lock-wrapper:hover .bio-link {
  visibility: visible;
}
.m20e .description textarea {
  resize: none;
  border: none;
  height: 75px;
  font-family: "signika", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: oblique;
  color: #202020;
}
.m20e .trait.background {
  margin: 2px 0px;
}
.m20e .trait.meritflaw {
  margin: 2px 0px;
}
.m20e .trait.meritflaw .bullet-display {
  flex: 0 0 65px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  justify-content: left;
  padding: 3px 0 3px 5px;
}
.m20e .trait.rote {
  margin-top: 3px;
}
.m20e .trait.rote div.item-img {
  position: relative;
  align-self: flex-start;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  height: 40px;
  width: 40px;
  margin: 3px 5px 0 0;
}
.m20e .trait.rote .trait-label {
  margin-left: 5px;
}
.m20e .trait.rote .trait-dice {
  visibility: hidden;
  position: absolute;
  border: none;
  top: 12px;
  left: 12px;
  width: 30px;
  height: 30px;
  background-image: url("../assets/ui/ten-dice.png");
  background-size: contain;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}
.m20e .rote:hover .trait-dice {
  visibility: visible;
  opacity: 1;
}
.m20e .trait.event {
  margin-top: 3px;
}
.m20e .trait.event .trait-img {
  position: relative;
  align-self: flex-start;
  border: none;
  height: 40px;
  width: 40px;
  margin: 3px 5px 0 0;
  background-image: radial-gradient(rgba(130, 81, 20, 0.4), rgba(0, 0, 0, 0));
}
.m20e .trait.event .trait-label {
  margin-left: 5px;
}
.m20e .trait.aeffect input {
  flex: 0 0 20px;
  margin: 0px 0px 0px 1px;
}
.m20e .trait.rote-effect {
  width: 100%;
  justify-self: center;
  height: 20px;
  margin: 3px 0px 3px 0px;
}
.m20e .trait.rote-effect .trait-label {
  padding-left: 3px;
}
.m20e .trait.rote-effect select {
  height: 20px;
}
.m20e .trait.rote-effect .mini-button {
  color: var(--m20e-badRed);
  margin-right: 10px;
}
.m20e .trait.lexicon input {
  height: 24px;
  margin: 3px 10px 3px 0;
  background: none;
}
.m20e .trait.lexicon label {
  flex: 1;
  padding-left: 5px;
  height: 24px;
  margin: 3px 10px 3px 0;
}
.m20e .trait.lexicon:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
.m20e .field {
  display: block;
  margin: 5px 5px;
}
.m20e .field select {
  width: 100%;
}
.m20e .field textarea {
  resize: none;
  border: none;
  min-height: 80px;
  height: 80px;
  font-family: var(--mainFontFam);
  font-size: var(--mainFontSize);
  font-weight: 400;
  font-style: oblique;
  color: var(--m20e-darkGrey);
}
.m20e .field .editor {
  font-size: var(--mainFontSize);
  font-weight: normal;
  height: 250px;
  border: 1px solid var(--m20e-lightGrey);
  border-radius: 3px;
  padding: 3px 3px 0px;
}
.m20e .field .fake-editor {
  margin-top: 3px;
  font-size: var(--mainFontSize);
  font-weight: normal;
  color: var(--m20e-darkGrey);
  background-color: rgba(0, 0, 0, 0.05);
  min-height: 20px;
  border: 1px solid var(--m20e-lightGrey);
  border-radius: 3px;
  padding: 3px 3px 0px;
}
li.chat-message .message-header {
  color: var(--m20e-midGrey);
}
li.chat-message .message-header .message-sender {
  font-family: var(--m20e-senderFontFam);
  font-size: var(--m20e-senderFontSize);
  font-weight: bold;
  margin: 0px 0px 5px 0px;
}
li.chat-message .message-header .flavor-text {
  flex: 0 0 100%;
  position: relative;
  margin: 0 0 5px;
  line-height: 24px;
  font-size: var(--m20e-mainFontSize);
  color: var(--m20e-darkGrey);
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--m20e-lightGrey);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
}
li.chat-message .card .card-header {
  display: flex;
  border-bottom: 2px groove var(--m20e-superLightGrey);
}
li.chat-message .card .card-tooltip {
  display: none;
}
li.chat-message .card .card-tooltip .tooltip-part {
  font-size: var(--m20e-descFontSize);
  color: var(--m20e-midGrey);
}
li.chat-message .card .card-tooltip .tooltip-part.item-ddesc {
  margin: 5px 0px 10px;
  padding: 0px 2px 5px;
  border-bottom: 1px solid var(--titleColor);
}
li.chat-message .card .card-footer {
  display: flex;
  border-top: 2px ridge var(--m20e-superLightGrey);
}
li.chat-message .card .card-footer .item-type {
  height: 25px;
  color: var(--m20e-midGrey);
  border-radius: 3px;
  border-top: 1px solid;
  border-right: 1px solid;
  padding: 3px;
  margin-top: 5px;
}
li.chat-message .card .card-footer .item-img {
  border-radius: 3px;
  border-bottom: none;
  border-right: none;
  height: 25px;
  width: 25px;
  margin: 5px 0 0 5px;
  background-image: radial-gradient(rgba(130, 81, 20, 0.4), rgba(0, 0, 0, 0));
}
.m20e.dice-roll .dice-tooltip .willpower-success {
  color: var(--m20e-midGrey);
  font-size: var(--mainFontSize);
  font-weight: bold;
}
.m20e.dice-roll .dice-tooltip .part-header {
  color: var(--m20e-midGrey);
  border-bottom: 1px solid var(--titleColor);
}
.m20e.dice-roll .dice-tooltip .part-header .tooltip-infos {
  display: flex;
}
.m20e.dice-roll .dice-tooltip .part-header .tooltip-infos .tooltip-info {
  font-size: var(--titleColor);
  font-weight: bold;
  margin-left: 3px;
}
.m20e.dice-roll .dice-tooltip .part-header .tooltip-infos .tooltip-info[data-value^="-"] {
  color: var(--m20e-badRed);
}
.m20e.dice-roll .dice-tooltip .part-header .tooltip-infos .tooltip-info[data-value^="+"] {
  color: var(--m20e-goodGreen);
}
.m20e.dice-roll .dice-total {
  color: var(--m20e-goodGreen);
}
.m20e.dice-roll .dice-total[data-result="0"],
.m20e.dice-roll .dice-total[data-result="?"] {
  color: var(--m20e-midGrey);
}
.m20e.dice-roll .dice-total[data-result^="-"] {
  color: var(--m20e-badRed);
}
.mage {
  --titleColor: var(--titleColor);
}
.tech {
  --titleColor: #3a537a;
  --highlightColor: #67957f;
  --hoverColor: #d69806;
  --titleFontFam: "signika", sans-serif;
}
.tech .window-content {
  background: url(../assets/ui/parchment_b.jpg) repeat;
}
.m20e.dialogue .flavor {
  margin-bottom: 6px;
  padding: 0 5px;
  white-space: pre-warp;
}
.m20e.dialogue .dialog-block {
  width: 100%;
  margin: 0;
  padding: 3px 5px;
  border-bottom: 1px solid var(--titleColor);
}
.m20e.dialogue .red-thingy {
  color: var(--m20e-badRed);
}
.m20e.dialogue .green-thingy {
  color: var(--m20e-goodGreen);
}
.m20e.dialogue .dialog-block.dice-pool {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.m20e.dialogue .dialog-block.dice-pool label {
  width: 60px;
}
.m20e.dialogue .dialog-block.dice-pool input {
  height: 32px;
  width: 40px;
  margin: 0 0 0 0;
  font-family: "Diablo";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.m20e.dialogue .radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-family: "Diablo";
  font-weight: bold;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(245, 242, 217, 0.8);
  font-size: 18px;
  text-align: center;
}
.m20e.dialogue .radio-group div {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
.m20e.dialogue .radio-group div input {
  display: none;
}
.m20e.dialogue .radio-group div label {
  width: 100%;
  flex-grow: 1;
  margin: 5px 1px;
  color: #585858;
  background: #bdb9b2;
  border: 1px solid #bdb9b2;
  border-radius: 3px;
  cursor: pointer;
}
.m20e.dialogue .radio-group div label span {
  color: var(--m20e-goodGreen);
  position: absolute;
  left: 10px;
  top: -6px;
}
.m20e.dialogue .radio-group div label span[data-cue='vulgar'] {
  color: var(--m20e-neutralOrange);
}
.m20e.dialogue .radio-group div label span[data-cue='vulgarWitness'] {
  color: var(--m20e-badRed);
}
.m20e.dialogue .radio-group div label:hover {
  color: #303030;
  text-shadow: 0 0 1px #aa0011;
}
.m20e.dialogue .radio-group div input[type="radio"]:checked + label {
  color: var(--highlightColor);
  background: rgba(0, 0, 0, 0.05);
  border-color: #7a7971;
}
.m20e.dialogue .mini-button.throw-dice {
  justify-content: space-evenly;
  height: 32px;
  width: 70%;
  font-family: "Diablo";
  font-weight: bold;
  font-size: 18px;
  margin: 10px 6px 5px 6px;
}
.m20e.dialogue .mini-button.auto-close {
  height: 32px;
  width: 32px;
  font-size: 18px;
  margin: 0 0 0 0;
  position: relative;
  top: 2px;
}
.m20e.dialogue .mini-button.auto-close[data-active='true'] {
  color: var(--highlightColor);
}
.m20e.dialogue .mini-button.throw-settings {
  color: var(--m20e-midGrey);
  height: 32px;
  width: 32px;
  font-size: 18px;
  margin: 0 0 0 0;
  position: relative;
  top: 2px;
}
.m20e.dialogue .mini-button.throw-settings[data-settings="2"] {
  color: var(--m20e-goodGreen);
}
.m20e.dialogue .mini-button.throw-settings[data-settings="3"] {
  color: var(--m20e-badRed);
}
.m20e.dialogue .disabledInput {
  border: none;
  color: #4b4a44;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 1px 3px;
  flex: 0 0;
  font-weight: normal;
  line-height: 26px;
}
.systemDescription {
  padding: 0px 2px;
  line-height: calc(var(--m20e-descFontSize) + 2px);
  font-size: var(--m20e-descFontSize);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.systemDescription p {
  margin: 0px;
}
.systemDescription .descHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  line-height: 1.5em;
  border-radius: 2px;
  padding: 3px 10px;
}
.systemDescription .descTitle {
  font-size: 1.5em;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  margin: 10px 25px;
  border: none;
  border-bottom: 2px solid var(--titleColor);
}
.systemDescription .descContent {
  margin: 5px 0px;
  text-align: justify;
}
.systemDescription .descFooter {
  margin: 5px 0px;
}
.systemDescription .level-description {
  margin: 2px 0px 3px;
}
.systemDescription .level-description .bullets {
  font-size: calc(var(--m20e-descFontSize) + 2px);
  font-weight: bold;
  float: left;
  width: 48px;
}
.systemDescription .level-description .title {
  float: left;
  font-weight: bold;
  padding-right: 3px;
}
.journal-sheet .systemDescription {
  line-height: calc(var(--m20e-mainFontSize) + 2px);
  font-size: var(--m20e-mainFontSize);
}
.m20e.dialog .dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.m20e.dialog .dialog-content p {
  text-align: center;
}
.m20e.dialog .dialog-content input {
  margin: 5px 0px;
  width: 70%;
}
.m20e.dialog .dialog-buttons .dialog-button {
  margin-top: 5px;
  flex: 0 0 40%;
}
.m20e input:focus {
  box-shadow: 0 0 2px 1px var(--highlightColor);
}
.m20e textarea:focus {
  box-shadow: 0 0 2px 1px var(--highlightColor);
}
.m20e select:focus {
  box-shadow: 0 0 2px 1px var(--highlightColor);
  outline: none;
}
.m20e .hidden-field {
  display: none;
}
.m20e .grid {
  display: grid;
  column-gap: 10px;
  row-gap: 0px;
  align-content: start;
  padding: 0;
}
.m20e .grid .column-header {
  margin: 3px 0;
  text-align: center;
}
.m20e .one-col {
  grid-column: span 1;
  grid-template-columns: auto;
}
.m20e .two-col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-left: 5px;
  margin-right: 5px;
}
.m20e .three-col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-left: 3px;
  margin-right: 3px;
}
