/* Fonts */
@font-face {
  font-family: "Diablo";
  src: url("../assets/fonts/Diablo-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Diablo";
  src: url("../assets/fonts/Diablo-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/************
** Imports **
*************/
.bullet-display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  border-color: #191813;
}
.bullet-display[data-locked='false'] {
  display: none;
}
.bullet {
  height: 14px;
  width: 11px;
  border: 2px solid;
  border-color: inherit;
  background: transparent;
  display: inline-block;
  border-radius: 50%;
  margin-right: 2px;
}
.bullet[data-active='true'] {
  background: #4b4a44;
}
.m20e {
  font-family: "signika", sans-serif;
  font-size: 14px;
}
.m20e .grid {
  display: grid;
  column-gap: 10px;
  row-gap: 0px;
  align-content: start;
  padding: 0;
}
.m20e .grid .column-header {
  margin: 3px 0;
  text-align: center;
}
.m20e .one-col {
  grid-template-columns: auto;
}
.m20e .two-col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.m20e .three-col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
