/* Fonts */
@font-face {
  font-family: "Diablo";
  src: url("../assets/fonts/Diablo-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Diablo";
  src: url("../assets/fonts/Diablo-Heavy.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/************
** Imports **
*************/
.bullet-display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  border-color: #191813;
}
.bullet-display[data-locked='false'] {
  display: none;
}
.bullet {
  height: 14px;
  width: 11px;
  border: 2px solid;
  border-color: inherit;
  background: transparent;
  display: inline-block;
  border-radius: 50%;
  margin-right: 2px;
}
.bullet[data-active='true'] {
  background: #4b4a44;
}
li.chat-message .message-header {
  color: #4b4a44;
}
li.chat-message .message-header .message-sender {
  font-family: "Diablo";
  font-weight: bold;
  font-size: 16px;
  margin: 0px 0px 5px 0px;
}
li.chat-message .message-header .flavor-text {
  flex: 0 0 100%;
  position: relative;
  margin: 0 0 5px;
  line-height: 24px;
  font-size: 14px;
  color: #191813;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #7a7971;
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
  word-break: break-all;
}
li.chat-message .message-header .flavor-text .stat {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #4b4a44;
  height: 20px;
  margin: 2px 0;
  font-size: 14px;
  padding: 0px 25px;
}
li.chat-message .message-header .flavor-text .stat .stat-label {
  font-weight: bold;
}
li.chat-message .message-header .flavor-text .stat .ligne {
  flex: 10 10;
  height: 1em;
  margin: 0 2px 2px;
  border-bottom: 1px solid #7a7971;
}
li.chat-message .message-header .flavor-text .stat .bullet-display {
  border-color: #4b4a44;
}
li.chat-message .message-header .flavor-text .stat .bullet-display[data-value="0"] {
  border-color: #610d11;
}
li.chat-message .message-header .flavor-text .stat .bullet[data-active='true'] {
  background: #7a7971;
}
.dice-tooltip .willpower-success {
  color: #4b4a44;
  font-size: 14px;
  font-weight: bold;
}
.dice-tooltip .part-header {
  color: #4b4a44;
  border-bottom: 1px solid #610d11;
}
.dice-tooltip .part-header .tooltip-infos {
  display: flex;
}
.dice-tooltip .part-header .tooltip-infos .tooltip-info {
  font-size: 14px;
  font-weight: bold;
  margin-left: 3px;
}
.dice-tooltip .part-header .tooltip-infos .tooltip-info[data-value^="-"] {
  color: #610d11;
}
.dice-tooltip .part-header .tooltip-infos .tooltip-info[data-value^="+"] {
  color: #18520b;
}
.dice-roll .dice-total {
  color: #18520b;
}
.dice-roll .dice-total[data-result="0"],
.dice-roll .dice-total[data-result="?"] {
  color: #191813;
}
.dice-roll .dice-total[data-result^="-"] {
  color: #610d11;
}
.dice-roll .item-type {
  height: 25px;
  color: #4b4a44;
  border-radius: 3px;
  border-top: 1px solid;
  border-right: 1px solid;
  padding: 3px;
  margin-top: 5px;
}
.dice-roll .item-img {
  border-radius: 3px;
  border-bottom: none;
  border-right: none;
  height: 25px;
  width: 25px;
  margin: 5px 0 0 5px;
  background-image: radial-gradient(rgba(130, 81, 20, 0.4), rgba(0, 0, 0, 0));
}
.card-buttons {
  margin-top: 7px;
}
.card-buttons button {
  font-family: "Diablo";
  font-weight: bold;
  font-size: 18;
  color: #191813;
  background-color: #7a7971;
}
.systemDescription {
  padding: 0px 2px;
  line-height: 14px;
  font-size: 12px;
}
.systemDescription .descHeader {
  margin: 5px 0px 10px;
  text-align: justify;
}
.systemDescription .descFooter {
  margin: 10px 0px 5px;
}
.systemDescription .level-description {
  margin: 5px 0px;
}
.systemDescription .level-description .bullets {
  font-size: 14px;
  font-weight: bold;
  float: left;
  width: 53px;
}
.systemDescription .level-description .level {
  float: left;
  font-weight: bold;
  padding-right: 3px;
}
.mage.sheet form,
.mage.dialogue form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-family: "signika", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #191813;
}
.mage.sheet form .fiche-header,
.mage.dialogue form .fiche-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.mage.sheet form .fiche-header .header-column,
.mage.dialogue form .fiche-header .header-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.mage.sheet form .fiche-header .header-row,
.mage.dialogue form .fiche-header .header-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.mage.sheet form .fiche-header .profile-img,
.mage.dialogue form .fiche-header .profile-img {
  height: auto;
  border: none;
  width: 100px;
  margin: 5px 0;
  cursor: pointer;
  padding: 3px;
  background-color: ivory;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.7);
  transform: rotate(1deg);
}
.mage.sheet form .fiche-header .charname,
.mage.dialogue form .fiche-header .charname {
  flex: 8 8;
  margin: 6px 6px 0 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-color: #610d11;
  border-bottom-width: 2px;
  background: none;
  height: 30px;
  color: #191813;
  font-family: "Diablo";
  font-weight: bold;
  font-size: 24px;
}
.mage.sheet .hidden-field,
.mage.dialogue .hidden-field {
  display: none;
}
.mage.sheet .panel,
.mage.dialogue .panel {
  flex: 1 1;
}
.mage.sheet .panel label,
.mage.dialogue .panel label {
  margin-left: 4px;
}
.mage.sheet .boxes,
.mage.dialogue .boxes {
  display: flex;
  padding: 0px 0px;
  flex-wrap: wrap;
  flex: 1;
}
.mage.sheet .boxes .resource-box,
.mage.dialogue .boxes .resource-box {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-left: 2px;
  margin-top: 0px;
  border: 2px outset #191813;
  box-sizing: content-box;
}
.mage.sheet .boxes .resource-box[data-clickable='true'],
.mage.dialogue .boxes .resource-box[data-clickable='true'] {
  cursor: pointer;
}
.mage.sheet .panel.health .resource-box,
.mage.dialogue .panel.health .resource-box,
.mage.sheet .panel.willpower .resource-box,
.mage.dialogue .panel.willpower .resource-box {
  background: rgba(24, 104, 7, 0.5);
}
.mage.sheet .panel.health .resource-box[data-state='1'],
.mage.dialogue .panel.health .resource-box[data-state='1'],
.mage.sheet .panel.willpower .resource-box[data-state='1'],
.mage.dialogue .panel.willpower .resource-box[data-state='1'] {
  background: rgba(121, 8, 19, 0.7);
}
.mage.sheet .panel.health .resource-box[data-state='2'],
.mage.dialogue .panel.health .resource-box[data-state='2'],
.mage.sheet .panel.willpower .resource-box[data-state='2'],
.mage.dialogue .panel.willpower .resource-box[data-state='2'] {
  background: rgba(121, 8, 19, 0.7) url('../assets/images/strike1.png');
  background-size: contain;
}
.mage.sheet .panel.health .resource-box[data-state='3'],
.mage.dialogue .panel.health .resource-box[data-state='3'],
.mage.sheet .panel.willpower .resource-box[data-state='3'],
.mage.dialogue .panel.willpower .resource-box[data-state='3'] {
  background: rgba(121, 8, 19, 0.7) url('../assets/images/strike2.png');
  background-size: contain;
}
.mage.sheet .panel.magepower,
.mage.dialogue .panel.magepower {
  margin-top: 10px;
}
.mage.sheet .panel.magepower .resource-box[data-state='1'],
.mage.dialogue .panel.magepower .resource-box[data-state='1'] {
  background-image: radial-gradient(rgba(253, 253, 253, 0.9), rgba(182, 167, 82, 0.4), rgba(130, 81, 20, 0.4), rgba(0, 0, 0, 0));
}
.mage.sheet .panel.magepower .resource-box[data-state='2'],
.mage.dialogue .panel.magepower .resource-box[data-state='2'] {
  background-image: radial-gradient(rgba(121, 8, 19, 0.9), rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0));
}
.mage.sheet .tooltip .righttooltiptext,
.mage.dialogue .tooltip .righttooltiptext {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8) url(../assets/images/parchment-dark.jpg) repeat;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  border: 1px solid #7a7971;
  border-radius: 3px;
  padding: 5px 10px;
  position: fixed;
  margin: -5px 0px 0px 5px;
  z-index: 1;
}
.mage.sheet .tooltip .righttooltiptext::after,
.mage.dialogue .tooltip .righttooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #191813 transparent transparent;
}
.mage.sheet .tooltip .bottomtooltiptext,
.mage.dialogue .tooltip .bottomtooltiptext {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8) url(../assets/images/parchment-dark.jpg) repeat;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #7a7971;
  border-radius: 3px;
  padding: 5px 10px;
  position: absolute;
  width: 95%;
  top: 100%;
  left: 5%;
  margin: 5px 0px 0px 0px;
  z-index: 1;
}
.mage.sheet .tooltip .bottomtooltiptext::after,
.mage.dialogue .tooltip .bottomtooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #191813 transparent;
}
.mage.sheet .tooltip:hover .righttooltiptext,
.mage.dialogue .tooltip:hover .righttooltiptext {
  visibility: visible;
}
.mage.sheet .tooltip:hover .bottomtooltiptext,
.mage.dialogue .tooltip:hover .bottomtooltiptext {
  visibility: visible;
}
.mage.sheet input:focus,
.mage.dialogue input:focus {
  box-shadow: 0 0 2px 1px #610d11;
}
.mage.sheet .mini-button,
.mage.dialogue .mini-button {
  box-sizing: border-box;
  display: inline-flex;
  height: 20px;
  width: 20px;
  margin-left: 1px;
  font-size: 16px;
  line-height: 16px;
  background: rgba(0, 0, 0, 0.05);
  color: #4b4a44;
  justify-content: center;
  align-items: center;
  border: 1px solid #7a7971;
  border-radius: 3px;
}
.mage.sheet .mini-button:hover,
.mage.dialogue .mini-button:hover {
  color: #191813;
  text-shadow: none;
  box-shadow: 0 0 2px 1px #610d11;
}
.mage.sheet .mini-button[data-locked='true'],
.mage.dialogue .mini-button[data-locked='true'] {
  display: none;
}
.mage.sheet .mini-button.decoy,
.mage.dialogue .mini-button.decoy {
  border: 0px;
  background: none;
}
.mage.sheet .mini-button.decoy:hover,
.mage.dialogue .mini-button.decoy:hover {
  box-shadow: none;
}
.mage.sheet .double-button,
.mage.dialogue .double-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 32px;
  width: 20px;
  margin-left: 1px;
  font-size: 14px;
  line-height: 14px;
  background: rgba(0, 0, 0, 0.05);
  color: #4b4a44;
  align-items: center;
  border: 1px solid #7a7971;
  border-radius: 3px;
}
.mage.sheet .double-button .mini-button,
.mage.dialogue .double-button .mini-button {
  box-sizing: border-box;
  display: inline-flex;
  height: 16px;
  width: inherit;
  margin: 1px 0 0 1px;
  font-size: inherit;
  line-height: inherit;
  background: none;
  color: #4b4a44;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px;
}
.mage.sheet .double-button .mini-button:hover,
.mage.dialogue .double-button .mini-button:hover {
  color: #191813;
  text-shadow: none;
  box-shadow: none;
}
.mage.sheet .double-button:hover,
.mage.dialogue .double-button:hover {
  box-shadow: 0 0 2px 1px #610d11;
}
.mage.sheet .separation,
.mage.dialogue .separation {
  width: 100%;
  margin: 3px 0;
  border-bottom: 1px solid #610d11;
}
.mage.sheet .sheet-tabs,
.mage.dialogue .sheet-tabs {
  height: 32px;
  margin: 5px 0;
  border-bottom: 0px;
  border-left: 1px #4b4a44;
  font-family: "Diablo";
  font-weight: bold;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(245, 242, 217, 0.8);
  font-size: 18px;
  text-align: center;
}
.mage.sheet .sheet-tabs a,
.mage.dialogue .sheet-tabs a {
  color: #191813;
  background: #bdb9b2;
  border: 1px solid #7a7971;
}
.mage.sheet .sheet-tabs a:hover,
.mage.dialogue .sheet-tabs a:hover {
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.7), 1px 1px 0 #f5f2d9;
}
.mage.sheet .sheet-tabs a.active,
.mage.dialogue .sheet-tabs a.active {
  color: #610d11;
  background: #bdb9b200;
  border-color: #4b4a44;
  border-bottom: 0px;
}
.mage.sheet .context-items,
.mage.dialogue .context-items {
  font-family: "signika", sans-serif;
  font-size: 12px;
  font-weight: lighter;
}
.mage.sheet .category,
.mage.dialogue .category {
  margin: 5px 0;
}
.mage.sheet .category .category-banner,
.mage.dialogue .category .category-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 28px;
  margin: 10px 0;
  border-bottom: 1px solid #610d11;
}
.mage.sheet .category .category-banner label,
.mage.dialogue .category .category-banner label {
  flex: 10 10;
  color: #610d11;
  font-family: "Diablo";
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(245, 242, 217, 0.6);
}
.mage.sheet .category .category-banner .mini-button,
.mage.dialogue .category .category-banner .mini-button {
  height: 25px;
  width: 25px;
  font-size: 20px;
  display: none;
}
.mage.sheet .category .category-banner .mini-button[data-hidden='false'],
.mage.dialogue .category .category-banner .mini-button[data-hidden='false'] {
  height: 25px;
  width: 25px;
  font-size: 20px;
  display: inline-flex;
}
.mage.sheet .category .category-banner:hover .mini-button[data-action='lock'],
.mage.dialogue .category .category-banner:hover .mini-button[data-action='lock'] {
  display: inline-flex;
}
.mage.sheet .category .mini-banner,
.mage.dialogue .category .mini-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0;
}
.mage.sheet .category .mini-banner label,
.mage.dialogue .category .mini-banner label {
  flex: 10 10;
  text-align: center;
}
.mage.sheet .stat,
.mage.dialogue .stat {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.mage.sheet .stat .stat-extra,
.mage.dialogue .stat .stat-extra {
  font-size: 18px;
  font-weight: bolder;
  padding-bottom: 2px;
  padding-right: 1px;
}
.mage.sheet .stat .stat-label:hover,
.mage.dialogue .stat .stat-label:hover {
  text-shadow: 0 0 1px #610d11;
}
.mage.sheet .stat .ligne,
.mage.dialogue .stat .ligne {
  flex: 10 10;
  height: 1em;
  margin: 0 2px 2px;
  border-bottom: 1px solid #7a7971;
}
.mage.sheet .stat .edit-bar,
.mage.dialogue .stat .edit-bar {
  display: flex;
  flex: 0 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.mage.sheet .stat .edit-bar input,
.mage.dialogue .stat .edit-bar input {
  flex: 0 0;
  height: 20px;
  padding: 0 0;
  text-align: center;
}
.mage.sheet .stat .edit-bar[data-locked='true'],
.mage.dialogue .stat .edit-bar[data-locked='true'] {
  display: none;
}
.mage.sheet .stat .bullet[data-clickable='true'],
.mage.dialogue .stat .bullet[data-clickable='true'] {
  cursor: pointer;
}
.mage.sheet .stat[data-active='true'] .stat-label,
.mage.dialogue .stat[data-active='true'] .stat-label {
  color: #610d11;
  text-shadow: 0 0 1px #191813;
}
.mage.sheet .grid,
.mage.dialogue .grid {
  display: grid;
  column-gap: 10px;
  row-gap: 0px;
  align-content: start;
  padding: 0;
}
.mage.sheet .one-col,
.mage.dialogue .one-col {
  grid-template-columns: auto;
}
.mage.sheet .two-col,
.mage.dialogue .two-col {
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.mage.sheet .three-col,
.mage.dialogue .three-col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.mage.sheet .column-header,
.mage.dialogue .column-header {
  margin: 3px 0;
  text-align: center;
}
